* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

html {
	scroll-behavior: smooth;
}
.scrollTop {
	position: fixed;
	bottom: 30px;
	right: 120px;
	transform: scale(0.8);
	padding: 10px 15px;
	color: #fff;
	border: 2px solid #bbbbbb;
	border-radius: 10px;
}
.scrollTop svg {
	transform: scale(1.2);
	transition: transform 0.4s ease;
}
.scrollTop:hover svg {
	transform: scale(1.4);
}

body {
	background-color: #262626;
}

.container {
	padding: 0 120px;
}

nav ul,
.main-info-section,
.work-category {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 15px 0;
}

.navbar {
	background-color: #121212;
}

.logo {
	display: flex;
}

header h2 {
	color: #ddd;
	font-size: 35px;
}
header a {
	color: #ccc;
	text-transform: none;
}

.about,
.skills,
.work,
.contact {
	height: 100vh;
}
.text,
.skills h1,
.contact h1 {
	text-align: right;
}
.about h1,
.skills h1,
.work h1,
.contact h1 {
	color: rgba(255, 255, 255, 5%);
	font-size: 200px;
}

li {
	list-style: none;
	margin-left: 30px;
}
a {
	text-decoration: none;
	text-transform: uppercase;
}

nav ul li a {
	text-decoration: none;
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
	position: relative;
	top: 50%;
	bottom: 50%;
	transform: translateY(-50%);
	transition: 0.5s ease-out;
}
nav ul li a:hover {
	color: #fff;
}

/*==== Main-Section Styles ====*/
.main-info-section {
	height: calc(100vh - 100px);
}
.profile-img img {
	width: 600px;
	position: absolute;
	top: 50%;
	left: 15%;
	transform: translateY(-50%);
}
.social {
	position: absolute;
	bottom: 100px;
	left: 50%;
	transform: translateX(-50%);
}
.social a {
	padding: 15px;
	transition: 0.3s ease-out;
}
.social i {
	color: #fff;
	transform: scale(1.5);
	transition: 0.3s ease-out;
}
.social i:hover {
	color: #d72e2e;
}

.text {
	margin: auto 0;
}
.text h1,
.text h2,
.about-me-info p {
	color: #fff;
}
.text h1 {
	font-size: 64px;
	line-height: 180%;
	cursor: context-menu;
}
.text h2 {
	font-size: 36px;
}
.text span {
	display: inline-block;
	color: #d72e2e;
	letter-spacing: -5px;
}
.text span:hover {
	color: #5148cf;
	transition: all 0.5s;
}
.text a {
	display: inline-block;
	background-color: none;
	border: 3px solid #d72e2e;
	color: #fff;
	position: relative;
	top: 80px;
	padding: 12px 25px;
	letter-spacing: 2px;
	overflow: hidden;
	transition: 0.5s;
}
.text a::before {
	content: "";
	background-color: #d72e2e;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	z-index: -1;
	transition: 0.5s;
}
.text a:hover::before {
	height: 100%;
}

/*==== About Styles ====*/
.about img:nth-child(2),
.about img:nth-child(4) {
	width: 400px;
	height: 400px;
	position: absolute;
}

.about img:nth-child(2) {
	left: 258px;
	z-index: -2;
}
.about img:nth-child(4) {
	z-index: -3;
	right: 240px;
	top: 1435px;
}

.about-me-info {
	max-width: 1117px;
	height: 291px;
	position: relative;
	top: 130px;
	/* right: 50%;
	left: 50%;
	transform: translateX(-50%); */
	margin: 0 auto;
	padding: 25px 34px 10px;
	background: linear-gradient(
		122.62deg,
		rgba(95, 95, 95, 0.3) 0%,
		rgba(74, 74, 74, 0.5) 100%
	);
	border: 3px solid #bbb;
	box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.25);
}
.about-me-info p {
	font-weight: 500;
	font-size: 18px;
	line-height: 160%;
	align-items: center;
	text-align: justify;
	letter-spacing: 0.02em;
	padding-bottom: 15px;
}

/*====  Skills ==== */
.skills .skills-image img {
	position: relative;
	top: -70px;
	z-index: -1;
	width: 800px;
	height: 560px;
	opacity: 0.7;
}
.skills .skills-image,
.skills .html-wrap {
	width: 45%;
	margin: 10px;
}
.skills .skills-image {
	float: left;
}
.skills .html-wrap {
	float: right;
	margin: 8% 0;
}

/* Skill Bars design */
.html {
	display: flex;
	/* flex-wrap: wrap; */
	justify-content: center;
	margin-bottom: 50px;
}
div[class^="tag-"] {
	clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 50%, 0% 0%);
	width: 120px;
	height: 30px;
	background-color: #38345f;
}
div[class^="tag-"] p {
	color: #fff;
	padding-left: 8px;
	font-size: 1.1rem;
	padding-top: 2px;
}
.progressbar {
	position: relative;
	width: 600px;
	height: 25px;
	border: 2px solid #d72e2e;
	border-radius: 10px;
	margin-left: 20px;
	margin-top: 3px;
}
div[class^="bar-"] {
	position: absolute;
	background-color: #d72e2e;
	height: 15px;
	border-radius: 10px;
	margin: 2.5px;
}
.bar-html,
.bar-css,
.bar-javascript,
.bar-react {
	width: calc(0 - 6px);
}

/*==== Work styles ====*/
.work-category {
	width: 1300px;
	margin: -25px auto 0;
}
.work-category button {
	text-transform: capitalize;
	border: 3px solid #d72e2e;
	background-color: transparent;
	padding: 11px 12px;
	font-size: 18px;
	font-weight: 500;
	color: #ddd;
	cursor: pointer;
	outline: none;
	transition: 0.5s ease-out;
}
/* .work-category button:hover {
	
} */
div[class^="category"] {
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
	grid-gap: 70px;
	margin-left: 30px;
}
.work a {
	justify-self: center;
	position: relative;
	display: inline-block;
}
.work-category .active {
	background-color: #d72e2e;
}
.work a img {
	width: 420px;
	justify-self: center;
	display: block;
	opacity: 1;
	backface-visibility: hidden;
	transition: 0.5s ease-out;
}
.lay-images {
	margin: auto 0;
}
.lay-container:hover img {
	opacity: 0.3;
}
.overlay {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	transition: 0.5s ease;
}
.overlay p {
	color: #fff;
}
.lay-container:hover .overlay{
	opacity: 1;
}
.overlay-text {
	background-color: transparent;
	border: 2px solid #bbb;
	color: white;
	font-size: 16px;
	padding: 8px 15px;
	width: 150px;
}
div.hideCategory {
	display: none;
}
.showCategory {
	display: block;
}

/*===== Contact Styles =====*/
.contact-image img {
	position: relative;
	top: -50px;
	z-index: -1;
	width: 900px;
	height: 560px;
	opacity: 0.7;
}
.contact-image,
.contact-info {
	margin: 20px;
}
.contact-image {
	width: 60%;
	float: left;
}
.contact-info {
	width: 35%;
	float: right;
	margin: 8% 0;
	display: inline;
}
.contact-info > div {
	margin-bottom: 30px;
	display: flex;
}
.contact-info a {
	color: #fff;
	font-size: 18px;
	text-transform: none;
	letter-spacing: 2px;
}
.contact-info > div svg {
	margin-right: 25px;
	transform: scale(1.3);
	color: #d72e2e;
	stroke-width: 3px;
}
.contact .cv a {
	display: inline-block;
	background-color: none;
	border: 3px solid #d72e2e;
	color: #fff;
	position: relative;
	top: 20px;
	margin-left: 8%;
	padding: 5px 12px;
	letter-spacing: 2px;
	overflow: hidden;
	transition: 0.5s ease-out;
}
.contact .cv a::before {
	content: "";
	background-color: #d72e2e;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	z-index: -1;
	transition: 0.5s;
}
.contact .cv a:hover::before {
	height: 100%;
}

/*==== Footer Styles ====*/
footer {
	padding: 0 120px;
	background-color: #121212;
}
.copyright {
	color: #fff;
	text-align: center;
	padding: 20px 0;
}
